/*
------------
CSS pour la liste d'album

*/
.AlbumContainer {
  height: calc(100vh - 30px);
  border-radius: 5px;
  overflow: scroll;
}

/* INFO */
.AlbumContainer .info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info img {
  width: 50%;
}
.info .texte {
  max-width: 70%;
  font-size: 24px;
  font-weight: bold;
}


.AlbumMusicList {
}

/* Card music */
.AlbumMusicCardContainer {
  background-color: transparent;

  padding: 10px;
  margin: 5px;

  cursor: pointer;
}

.AlbumMusicCardContainer:hover {
  background-color: #7c93ee;
  text-decoration: underline;
}
