/*
------------
CSS pour la liste d'album

*/
.AlbumContainer {
  height: calc(100vh - 30px);
  border-radius: 5px;
  overflow: scroll;
}

.AlbumMusicList {
}

/* Card music */
.AlbumMusicCardContainer {
  background-color: transparent;

  padding: 10px;
  margin: 5px;

  cursor: pointer;
}

.AlbumMusicCardContainer:hover {
  background-color: #7c93ee;
  text-decoration: underline;
}
