/*
--------------
CSS Liste de musique (page principale)

*/
/* Contient le tout */
.MusicListContainer {
  overflow: scroll;
  width: 100%;
  height: 100%
}

/* Contient que la liste des musiques */
.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.library .libraryMusic {
  padding: 10px;
  background-color: rgb(240,240,240);
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  width: 156px;
  height: 200px;
}

.library .libraryMusic:hover {
  background-color: rgb(245,245,245);
}

.libraryMusic img {
  width: 156px;
  height: 156px;
  border-radius: 0;
}
.libraryMusic p {
  font-weight: 200;
}

/* Load bar */
.loadBar {
  display: flex;
  align-items: center;
}

.loadBar .bar {
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  margin-inline: 5px;
}
.loadBar .bar_left {
  flex: 0.01;
  border-bottom: solid 1px var(--border-color);
  margin-inline: 5px;
}

.loadBar .count {
  margin-inline: 5px;
  font-weight: 100;
}

/* Search Bar */
.LibrarySearchBarContainer {
  display: flex;
  padding: 10px;
}
.searchBarContainer {
  border: 1px solid var(--border-color);
  border-radius: 20px;
}
.searchBarContainer input {
  outline: none;
  border: none;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 20px 0 0 20px;
}

.searchBarContainer button {
  border-radius: 0 20px 20px 0;
  height: 100%;
  border: none;
  padding: 5px;

}
