/*
--------------
CSS Liste de musique (page principale)

*/
/* Contient le tout */
.MusicListContainer {
  overflow: scroll;
  width: 100%;
  height: 100%
}

/* Contient que la liste des musiques */
.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.library .libraryMusic {
  background-color: transparent;
  border-bottom: 1px solid rgba(240,240,240,1);
  cursor: pointer;

  padding: 10px;

  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  transition: all 0.2s linear;
}

.library .libraryMusic:hover {
  background-color: rgba(250, 250, 250, 1);
}

.libraryMusicInfo {
  max-width: calc(100% - 70px);
  flex: 1;
}

.libraryMusicInfo p {
  margin: 5px 5px 5px 10px;
}

.libraryMusic img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  background-color: white;
}
.libraryMusicInfo .title {
  font-weight: 500;
  font-size: 16px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px);
}
.libraryMusicInfo .author {
  font-size: 14px;
  font-weight: 100;
}

@media screen and (min-width: 1200px) {
  .library .libraryMusic {
    width: calc(90% / 2);
    margin-inline: 5px;
  }

  .library {
    margin: auto;
    width: calc(100% - 30px);
  }
}



/* Load bar */
.loadBar {
  display: flex;
  align-items: center;
}

.loadBar .bar {
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  margin-inline: 5px;
}
.loadBar .bar_left {
  flex: 0.01;
  border-bottom: solid 1px var(--border-color);
  margin-inline: 5px;
}

.loadBar .count {
  margin-inline: 5px;
  font-weight: 50;
  font-size: 14px;
}

/* Search Bar */
.LibrarySearchBarContainer {
  display: flex;
  padding: 10px;
}
.searchBarContainer {
  border: 1px solid var(--border-color);
  border-radius: 20px;
}
.searchBarContainer input {
  outline: none;
  border: none;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 20px 0 0 20px;
}

.searchBarContainer button {
  border-radius: 0 20px 20px 0;
  height: 100%;
  border: none;
  padding: 5px;

}
