:root {
  --choice-color: rgba(0, 0, 0, 0.05);
  --choice-selected-color: rgba(255, 255, 255, 0.5);
  --separator-color: rgba(0, 0, 0, 0.5);
}

/*
------
CSS SideBar

*/
.mm-global-left-bar {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Menus selector */
.mm-global-left-bar-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mm-global-left-bar-menu .choice {
  background-color: var(--choice-color);
  border-radius: 10px;
  width: 45%;
  border: var(--choice-color) solid 2px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  -webkit-app-region: no-drag;
}

.mm-global-left-bar-menu .icon {
  width: 20px;
}

.mm-global-left-bar-menu .selected {
  background-color: var(--choice-selected-color);
  border-color: rgb(124, 147, 238, 0.5);
}



