.playerContainer {
  display: flex;
  position: absolute;
  background-color: #f0dc4e;
  left: 50px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  box-shadow: var(--border-color) 0 5px 5px;
}

.playerControllerContainer {
  margin-inline: 10px;
}

.playerController {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerContainer img {
  width: 32px;
}

/* visibility of the player */
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
