:root {
  --black-button: #0f0f0f;
  --transparent-color-button: rgba(0,0,0,0.05);
  --transparent-color-button-hover: rgba(0,0,0,0.07);
}

.dlLeftBarContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: var(--border-color) 1px solid;
}

.dlLeftBarContainer .button {
  border-radius: 10px;
  padding: 5px;
  padding-inline: 10px;
  margin-inline: 10px;
  background-color: var(--transparent-color-button);
  color: var(--black-button);
  cursor: pointer;
}

.button:hover {
background-color: var(--transparent-color-button-hover);
}

.dlLeftBarContainer .selected {
  background-color: var(--black-button);
  color: #fff;
}
