/* -----------
Style pour la TOP BAR
#edeefd (fond)
##4f55f1 (texte)
--------------
 */
.topBarContainer {
  display: flex;
  padding: 5px;
  background-color: rgba(232, 232, 232, 0.71);
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  border-bottom: var(--border-color) 1px solid;
}

.topBarSpacesButtonsContainer {
  display: flex;
}

/* PLAYER */
.topBarPlayer {
  margin-left: 100px;
  -webkit-app-region: no-drag;
  background-color: #f0dc4e;
}
.player_icon {
  width: 20px;
}

/* SPACES BUTTONS */
.topBarButton {
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  padding-inline: 10px;
  margin-inline: 10px;
  -webkit-app-region: no-drag;
}

.topBarButton:hover {
  background-color: #f0dc4e;
}

.topBarContainer .selected {
  background-color: #7c93ee;
}

.topBarContainer .separator {
  color: var(--border-color);
}
